/*  html  */
body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ccc;
	color: #000;
	font-size: 100%;
	padding: 0px;
	text-align: center;
}
body#testpage {
	color: #fff;
	background-color: #000;
}
a {
	color: #0183da;
}
a:hover {
	color: #0183da;
	text-shadow: #CCC 5px 5px 5px;
}
a:active, a:visited:active {
	color: #0183da;
}
a:visited {
	color: #0183da;
}
p {
	text-align: left;
	font-size: 0.9em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
ul, ol {
	font-size: .75em;
	margin-bottom: 1.5em;
}
li {
	margin-bottom: .5em;
}
h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-bottom: 0;
}
h2 {
	font-size: 1.25em;
	line-height: 1em;
	margin-bottom: 0;
}
h3, h4, h5, h6 {
	font-size: .75em;
	margin-bottom: 0;
}
em {
/*	font-style: italic; */
}
hr {
	border-bottom: 2px solid #999;
	margin: 20px 0;
}
/*  /html  */
	
/*  layout  */
#wrap {
	margin: auto;
	width: 1040px;
	overflow: visible;
}
#content {
}
#main {
	float: left;
	width: 720px;
	margin: 10px 20px 10px 0;
	padding-left: 5px;
	border-left: solid 1px #999;
}
#secondary {
}
#navi, #sidebar {
	float: left;
	width: 140px;
	text-align: left;
	margin-top: 180px;
	padding: 4px;
}
#navi { width: 100px; }
#navi a, #sidebar a {
	text-decoration: none;
	color: ;
}

#navi ul {
	margin-top: 15px;
}
#navi h3 {
	line-height: 14px;
	font-weight: bold;
	font-size: 14px;
}
#sidebar #terminal {
	float: left;
}
#sidebar #terminal #screen {
	float: left;
	position: relative;
	padding: 5px;
	margin: 0;
	width: 144px;
	height: 100px;
	background-color: #000;
	border-left: solid 2px #000;
	border-left: solid 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.8);
	box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.8);
	border-radius: 8px;
	color: yellow;
}
#sidebar #terminal #screen a {
	color: yellow;
}
#sidebar #terminal #screen a:hover {
	text-shadow: yellow 2px 2px 2px;
}
#sidebar #terminal #screen .cursor {
/*	opacity: 0; */
	color: yellow;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}
#sidebar #terminal #screen:hover {
/*	opacity: 1.0; */
	-webkit-box-shadow: -1px 1px 4px 2px rgba(255,255,0,0.4);
	border-left-color: #ff0000;
	border-left-color: rgba(204,0,0,0.4);
}
#sidebar #terminal #screen .cursor {
	width: 1px;
	height: 20px;
	color: yellow;
	background-color: yellow;
	margin-left: 3px;
}

@-webkit-keyframes pulse {
 from {
   opacity: 0.0;
 }
 to {
   opacity: 0.5;
 }
}


#footer {
	
}

#logo {
	
}
#nav {
	
}
/*  /layout  */


.group:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	margin-bottom: 20px;
}
